.home-contenedor{
    background-image: 
    background-size: cover;
    
}
a{
    color: white;
}
a:hover{
    color: black;
} 
a:active{
    color: red;
}


.home-header{
    grid-area: header;
    background-color: bisque;
    text-align: center;
}
.home-header h1{
    font-size: 100px;
} 
.home-header h2{
    font-size: 80px;
    animation-name: movimiento-uno;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;






}





    
.fs-1{
    font-size: 130px  !important ;
    color: bisque;
    font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
    
}











    

  

    
    .home-footer{
        background-color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: bisque;

        
    }
    .home-footer:hover{
        background-color: bisque;
        color: black;
    }

    .home-footer h2{
        font-size: 50px;
        
        text-decoration: underline;

    }
    .home-footer p{
        font-size: 18px;
        
    }

   

    }
   
            
    }
    .contenedor-hombre{
        font-style: initial;
        grid-template-columns: 
        "header nav"
        "main main"
        "aside aside"
        "footer footer";
        grid-template-rows: 1fr 3fr;
    }   

   

    .hombre-header{
        grid-area: header;
        background-color: bisque;
        text-align: center;
    }
    .hombre-header h1{
        font-size: 100px;
    } 
    .hombre-header h2{
        font-size: 80px;
        animation-name: movimiento-uno;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }
    @keyframes movimiento-uno{
        50%{ 
            color: white   }
        75%{
            color: grey;
        }
    }

    .hombre-nav{
        
        grid-area: nav;

    }
    .hombre-nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        
    }
    .hombre-nav li{
        padding: 10px;
        margin: 10px;
        border: solid ;
        background-color: black;
    }

    .hombre-main{
        grid-area: main;

    }

    .hombre-aside{
        grid-area: aside;
    }
    .hombre-footer{
        grid-area: footer;
    }

    .hombre-header div ul{
        font-size: 25px;
        list-style: none;
       
        
        
    }
    .hombre-header div li{
        padding: 10px;
        
    }
    .hombre-main{
        background-color:bisque ;
        display: flex;
        flex-direction: column;
        border: solid 2px;
    }

    .hombre-main-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px;
        border: solid 2px;
    }
    .div-prendas-imagenes{
        height: 450px;
        width: 400px;
        margin: 20px;
        transition: all 1s ease-in-out
        
    }
    .div-prendas-imagenes:hover{
        height: 550px;
        width: 500px;
    }
    .div-prendas{
        text-align: center;
    }
     
        
    .hombre-aside{
        color: beige;
        background-color: darkgray;
        border: none;
        
        
    }
    .hombre-aside ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
    }
    .hombre-aside li{
        margin: 30px;
    }
        
        
    
   
    }
        
    }





















    